
$color-primary: #463844;
$color-secondary: #ffffff;
$color-details: #2CAF35;
$color-gray: #777272;

$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 15px;
$border-radius-xl: 20px;

$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;
$spacing-xl: 40px;
$spacing-xxl: 9rem;

$z-index-top: 100;
$z-index-middle: 10;
$z-index-bottom: 1;