:root {
  --font-inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  background-color: var(--color-secondary);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

.grid-template {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(100px) 1fr auto;
  background-color: #121212;
  color: #ffffff;
}

.grid-template > * {
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
}

footer {
  display: none;
}

@media screen and (min-width: 768px) {
  .grid-template {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: fit-content(100px) 1fr auto auto;
    max-height: 100vh;
    background-color: #463844;
  }
  header {
    justify-content: space-between;
    grid-column: 1/-1;
  }
  main {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-height: 0;
    overflow-y: scroll;
    z-index: 10;
  }
  .search-form {
    grid-column: 1/3;
  }
  .image-main {
    grid-column: 3/-1;
  }
  footer {
    grid-column: 1/-1;
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 100;
  }
}
header {
  padding: 20px;
  background: linear-gradient(300deg, #121212 0%, #57B65F 200%);
}
header button {
  display: none;
  color: #2CAF35;
}
@media screen and (min-width: 768px) {
  header {
    background: none;
    background-color: #463844;
  }
  header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #2CAF35;
  }
  header button {
    display: block;
  }
}

main {
  position: relative;
  width: 100vw;
}
main .image-main {
  display: grid;
  align-self: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  main .image-main {
    display: none;
  }
}

.detail-page {
  grid-column: 1/-1;
  color: white;
}
.detail-page .detail-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 30px;
}
.detail-page .detail-container .detail-title {
  grid-column: 1/-1;
  height: -moz-max-content;
  height: max-content;
}
.detail-page .detail-container .detail-card-image {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.detail-page .detail-container .detail-card-image .detail-image {
  grid-column: 1/5;
  width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.detail-page .detail-container .detail-card-image .detail-temporary {
  grid-column: 5/-1;
  display: grid;
  justify-content: center;
  margin-top: 30px;
  display: grid;
  min-width: 20rem;
  justify-self: center;
  background-color: #777272;
  padding: 30px;
  margin: 10px;
}
.detail-page .detail-container .detail-card-description {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/-1;
  margin-bottom: 30px;
  margin-top: -10px;
}
.detail-page .detail-container .detail-card-description .detail-rating img {
  transform: scale(0.7);
  margin-bottom: 20px;
}
.detail-page .detail-container .detail-card-description > * {
  flex: 1 1 100%;
}
.detail-page .detail-container .detail-equipment-second-header {
  margin-bottom: 20px;
  grid-column: 1/-1;
}
.detail-page .detail-container .detail-equipment-div {
  grid-column: 1/-1;
}
.detail-page .detail-container .detail-equipment-div ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  gap: 10px;
  background-color: #777272;
  border-radius: 15px;
}

.detail-page-mobile {
  grid-column: 1/-1;
  color: white;
}
.detail-page-mobile .detail-container-mobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 5px;
}
.detail-page-mobile .detail-container-mobile .detail-title-mobile {
  height: -moz-max-content;
  height: max-content;
}
.detail-page-mobile .detail-container-mobile .detail-card-image-mobile {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
}
.detail-page-mobile .detail-container-mobile .detail-card-image-mobile img {
  border-radius: 10px;
  overflow: hidden;
}
.detail-page-mobile .detail-container-mobile .detail-card-image-mobile .detail-image-mobile {
  width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.detail-page-mobile .detail-container-mobile .detail-card-image-mobile .detail-temporary-mobile {
  grid-column: 5/-1;
  display: grid;
  justify-content: center;
  margin-top: 30px;
  display: grid;
  min-width: 20rem;
  justify-self: center;
  background-color: #777272;
  padding: 30px;
  margin: 10px;
}
.detail-page-mobile .detail-container-mobile .detail-card-description-mobile {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/-1;
  margin-bottom: 30px;
}
.detail-page-mobile .detail-container-mobile .detail-card-description-mobile > * {
  flex: 1 1 100%;
}
.detail-page-mobile .detail-container-mobile .detail-equipment-second-header-mobile {
  margin-bottom: 30px;
  grid-column: 1/-1;
  padding: 20px;
}
.detail-page-mobile .detail-container-mobile .detail-equipment-div-mobile {
  grid-column: 1/-1;
}
.detail-page-mobile .detail-container-mobile .detail-equipment-div-mobile ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  gap: 10px;
  background-color: #777272;
}
.detail-page-mobile .detail-container-mobile .detail-booking-nav-mobile {
  background-color: #272828;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.detail-page-mobile .detail-container-mobile .detail-booking-nav-mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2CAF35;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
footer div {
  display: flex;
  gap: 10px;
}
footer div > * {
  font-size: 0.8rem;
  font-weight: 200;
}
footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1px;
  background-color: #2CAF35;
}

.login-modal {
  display: grid;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  place-items: center;
  z-index: 100;
}
.login-modal .login-form {
  display: grid;
  place-items: center;
  background-color: #ffffff;
  color: #463844;
  padding: 20px;
  min-width: 80%;
  height: 90%;
}
.login-modal .login-form div {
  position: relative;
  padding: 10px;
}
.login-modal .login-form div::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #2CAF35;
}

@media screen and (min-width: 768px) {
  .login-modal .login-form {
    min-width: 50%;
    height: 70%;
  }
}
.search-button {
  background-color: #2CAF35;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.book-button {
  background-color: #2CAF35;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.book-payment-button {
  background-color: #2CAF35;
  font-weight: 700;
  color: #000000;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  font-size: 1.5rem;
  border-radius: 30px;
  cursor: pointer;
}

.input-search {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
}
.input-search .input-search input {
  border: none;
  outline: none;
}

.navbar-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: #272828;
}
.navbar-mobile ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}

.navbar-mobile > * {
  z-index: 100;
}

.search-form {
  position: fixed;
  top: 10rem;
  background-color: #ffffff;
  color: #463844;
  border-radius: 10px;
  margin: 0 20px 0 20px;
  z-index: 100;
  padding: 20px;
}
.search-form div {
  display: flex;
  flex-wrap: wrap;
}
.search-form div label {
  color: #463844;
  font-weight: 700;
}
.search-form div > * {
  flex: 1 1 100%;
}
@media screen and (min-width: 768px) {
  .search-form {
    display: grid;
    top: 0;
    position: relative;
    place-self: center;
    padding: 20px;
    gap: var(--spacing-xs);
  }
}

.home-list {
  display: grid;
  padding: 5px;
  grid-column: 1/-1;
  grid-auto-rows: auto;
  gap: 30px;
  width: 100%;
}
.home-list .home-container {
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  gap: 10px;
  width: 100%;
  z-index: 0;
}
.home-list .home-container > * {
  position: relative;
  z-index: 1;
}
.home-list .home-container img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}
.home-list .home-container p {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff;
  justify-self: start;
}

@media screen and (min-width: 768px) {
  .home-list {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 30px;
  }
  .home-container img {
    border-radius: 0;
  }
}
.booking-page {
  display: grid;
  grid-column: 1/-1;
  place-content: center;
  color: #ffffff;
}
.booking-page div {
  width: 33vw;
  display: grid;
}
.booking-page div button {
  justify-self: center;
}
@media screen and (max-width: 768px) {
  .booking-page div {
    width: 90vw;
  }
}

.payment-card {
  display: grid;
  background-color: #463838;
  grid-template-columns: 1fr 60%;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.payment-card:hover {
  background-color: #412727;
}
.payment-card:active {
  background-color: #322e2e;
}
.payment-card img {
  place-self: end;
  margin-right: 30px;
}

.selected {
  background-color: #c5a1a1;
}

.success-page {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr;
  text-align: center;
}
.success-page img {
  width: 100%;
  overflow: hidden;
  max-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.success-page h1 {
  font-size: 1.5rem;
}
.success-page p {
  font-size: 1.5rem;
}

.react-datepicker-wrapper {
  position: relative;
  z-index: 1050;
}

.react-datepicker-popper {
  z-index: 1050;
  max-width: 90vw;
  position: absolute;
  left: 10rem;
  right: auto;
  margin-top: 8px;
}

.react-datepicker {
  font-family: Arial, sans-serif;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 8px 0;
}

.react-datepicker__month {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding: 16px;
}

.react-datepicker__day {
  text-align: center;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.react-datepicker__day--selected {
  background-color: #007bff;
  color: white;
}

.desktop-ad-container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  gap: 30px;
}
.desktop-ad-container .desktop-ad-card {
  background-color: #463838;
  padding: 20px;
}
.desktop-ad-container .desktop-ad-card p:nth-child(3) {
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  .desktop-ad-container {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */