footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-m;
  
    div {
      display: flex;
      gap: $spacing-s;
      > * {
        font-size: $font-size-xs;
        font-weight: $font-weight-light;
      }
    }
  
    &::before {
      content: '';
      display: block;
      position: absolute;  
      top: 0;
      left: 0;
      width: 100vw;
      height: 1px;
      background-color: $color-details;
    }
  }
  