header {
    padding: $spacing-m;
    background: $gradient-header-mobile;
    
    button {
      display: none;
      color: $color-details;
    }
  
    
  
    @media screen and (min-width: 768px) {
      background: none;
      background-color: $color-primary;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 1px;
        background-color: $color-details;
      }
      button {
        display: block;
      }
    }
  }
  