.home-list {
    display: grid;
    padding: $spacing-l;
    grid-column: 1 / -1;
    grid-auto-rows: auto;
    gap: $spacing-l;
    width: 100%;
  
    .home-container {
      display: grid;
      grid-template-rows: auto 1fr;
      position: relative;
      gap: $spacing-l;
      width: 100%;
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
      }
      p {
        font-size: 12px;
        font-weight: 200;
      }
    }
  
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(200px, 1fr));

      .home-list{
        justify-content: space-between;
      }
    }
  }
  