main {
    position: relative;
    width: 100vw;
  
    .image-main {
      display: grid;
      align-self: center;
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      padding: $spacing-xs;
    }
  }
  