.navbar-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: $z-index-top;
    background-color: $color-navbar-mobile;

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: $spacing-m;
    }
  }
  .navbar-mobile > * {
    z-index: $z-index-top;
  }